<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<!-- http://wiki.base22.com/display/btg/How+to+setup+Log4j+in+a+web+app+-+fast -->
<!-- http://stackoverflow.com/questions/5000884/eclipse-referencing-log4j-dtd-in-log4j-xml -->
<log4j:configuration>
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ISO8601}] %-5p %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="TRACE" />
            <param name="LevelMax" value="FATAL" />
        </filter>
    </appender>
    
    <appender name="STDERR" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.err" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="[%d{ISO8601}] %-5p [%c] %m %n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR" />
            <param name="LevelMax" value="FATAL" />
        </filter>
    </appender>
    
    <appender name="AuditLog" class="org.apache.log4j.FileAppender">
    	<param name="File" value="audit.log"/>
    	<layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="[%d{ISO8601}] %-5p [%c] %m %n" />
        </layout>
    </appender>
    
    <logger name="info.martinussen.keyfile.model">
    	<level value="info"/>
    	<appender-ref ref="AuditLog"/>
    </logger>
    
    <logger name="info.martinussen.keyfile" additivity="false">
        <level value="trace" />
        <appender-ref ref="STDOUT" />
    </logger>
        
    <root>
        <level value="ERROR" />
        <appender-ref ref="STDERR" />
    </root>
</log4j:configuration>