<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
     version="2.5">
  <display-name>Beer recommendation Web Application</display-name>
  <servlet>
    <servlet-name>Ch4 Beer</servlet-name>
    <servlet-class>info.martinussen.scwcd.hfsj.ch4.BeerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ch4 Beer</servlet-name>
    <url-pattern>/SelectBeer.do</url-pattern>
  </servlet-mapping>
  <listener>
  	<listener-class>info.martinussen.scwcd.hfsj.ch4.StartupListener</listener-class>
  </listener>

</web-app>
<!--https://mkyong.com/web-development/the-web-xml-deployment-descriptor-examples/-->
