<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4">
  <display-name>Basic Authentication Example Web Application</display-name>
  
  <login-config>
    <auth-method>FORM</auth-method><!-- To make the container enforce FORM based authentication -->
    <realm-name>BasicRealm</realm-name>
    <form-login-config>
      <form-login-page>/loginPage.html</form-login-page>
      <form-error-page>/loginError.html</form-error-page>
    </form-login-config>
  </login-config>
  
  <security-role>
    <role-name>member</role-name>
  </security-role>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>ALL</web-resource-name>
      <url-pattern>/ProcessUserInfo.do</url-pattern>
      <url-pattern>/ProcessComments.do</url-pattern>
      <!-- no http-method-tag means all http methods are constrained -->
    </web-resource-collection>
    <auth-constraint>
<!--       only members are ALLOWED access to the above url patterns using (in this case) any http method -->
      <role-name>member</role-name>
      <role-name>guest</role-name>
    </auth-constraint>
  </security-constraint>
  
  <servlet>
    <servlet-name>Ch12 User</servlet-name>
    <servlet-class>info.martinussen.scwcd.hfsj.ch12.UserServlet</servlet-class>
    <security-role-ref>
      <role-name>superUser</role-name><!-- role name used in servlet code -->
      <role-link>member</role-link><!-- role name used in security-role tag in this DD??? -->
    </security-role-ref>
  </servlet>
  <servlet>
    <servlet-name>Ch12 Comment</servlet-name>
    <servlet-class>info.martinussen.scwcd.hfsj.ch12.CommentController</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>Ch12 User</servlet-name>
    <url-pattern>/ProcessUserInfo.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ch12 Comment</servlet-name>
  	<url-pattern>/ProcessComments.do</url-pattern>
  </servlet-mapping>
  
  <listener>
    <listener-class>info.martinussen.scwcd.hfsj.ch12.MyServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>info.martinussen.scwcd.hfsj.ch12.MySessionListener</listener-class>
  </listener>
  
  <session-config>
  	<session-timeout>2</session-timeout><!-- session-timeout in minutes -->
  </session-config>
</web-app>
