<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>Ch9 User</servlet-name>
    <servlet-class>info.martinussen.scwcd.hfsj.ch9.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ch9 Comment</servlet-name>
    <servlet-class>info.martinussen.scwcd.hfsj.ch9.CommentController</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>Ch9 User</servlet-name>
    <url-pattern>/ProcessUserInfo.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ch9 Comment</servlet-name>
  	<url-pattern>/ProcessComments.do</url-pattern>
  </servlet-mapping>
  <listener>
  	<listener-class>info.martinussen.scwcd.hfsj.ch9.ContextListener</listener-class>
  </listener>
  <listener>
  	<listener-class>info.martinussen.scwcd.hfsj.ch9.SessionListener</listener-class>
  </listener>
  <session-config>
  	<session-timeout>1</session-timeout>
  </session-config>
</web-app>
