<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>Ch3 Beer</servlet-name>
    <servlet-class>info.martinussen.scwcd.ch1_3.BeerServlet</servlet-class>
    <init-param>
      <param-name>version</param-name>
      <param-value>0.1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ch3 Beer</servlet-name>
    <url-pattern>/SelectBeer.do</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>Breed</param-name>
    <param-value>Great Dane</param-value>
  </context-param>
  <listener>
    <listener-class>info.martinussen.scwcd.ch1_3.listener.StartUpListener</listener-class>
  </listener>
  <listener>
    <listener-class>info.martinussen.scwcd.ch1_3.listener.RequestListener</listener-class>
  </listener>
</web-app>
