<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>Key File Servlet</servlet-name>
    <servlet-class>info.martinussen.keyfile.KeyFileServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Key File Servlet</servlet-name>
    <url-pattern>/Selectlicense.do</url-pattern>
  </servlet-mapping>

  <listener>
  	<listener-class>info.martinussen.keyfile.StartupListener</listener-class>
  </listener>
</web-app>
